  .footer {
    background-color: #ffffff;
    color: #0a5db7;
    padding: 20px;
    text-align: center;
  }

  .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
  }

  .social-icons {
    display: flex;
    gap: 25px;
    margin-left: 30px;
  }

  .social-icons img:hover {
    transition: width 0.2s, height 0.2s;
    width: 35px;
    height: 35px;
  }

  .social-icons img {
    width: 30px;
    height: 30px;
  }

  .footer-warning {
    font-size: 14px;
    text-align: right;
    line-height: 2;
  }

  .footer-links {
    margin-top: 15px;
  }

  .footer-links a {
    color: #0a5db7;
    text-decoration: none;
    margin: 0 10px;
    font-weight: 600;
  }

  .footer-links a:hover {
    transition: color 0.1s linear 0.05s;
    color: #ff9f43;
  }

  .footer-social {
    text-align: left;
  }

  body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #ffffff;
  }

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}


.content {
  flex: 1;
}
